$primary-color : #F59E0D;
$secondary-color : #f2f0f0;
$text-color : #141414;
$primary-hover-color : #D38200;
$error-color: #FF5A5F;
$success-color: #28A745;
$warning-color: #FFA500;

$default-transition : all 0.5s ease-in-out;